<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/contract/charge" method="post">
        <label>충전할 토큰의 수량</label>
        <input type="number" name = "_amount">
        <input type="submit" value="충전하기">

    </form>
</body>
</html>