<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <label>phone</label>
        <input type="text" name="_phone"><br>
        <label>password</label>
        <input type="password" name="_password"><br>
        <label>name</label>
        <input type="text" name="_name"><br>
        <label>Location</label>
        <input type="text" name="_loc"><br>
        <input type="submit">
    </form>
</body>
</html>