<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('header.ejs') %>
</head>
<body>
    <h2>회원가입!</h2>
    <table class="table">
        <form action="/signup" method="post">
            <tr>
                <td>
                    ID
                </td>
                <td>
                    <input type='text' name='input_id'>
                </td>
            </tr>
            <td colspan="2" align="center">
                <p class="btn btn-success">ID 중복체크</p>
            <tr>
                <td>
                    PASSWORD
                </td>
                <td>
                    <input type="password" name="input_pass">
                </td>
            </tr>
            <!-- <tr>
                <td>
                    나의 Wallet 주소
                </td>
                <td>
                    <input type='text' name='input_mywallet'>
                </td>
            </tr> -->
            <tr>
                <td>
                    이름
                </td>
                <td>
                    <input type="text" name="input_name">
                </td>
            </tr>
            <tr>
                <td>
                    연락처
                </td>
                <td>
                    <input type='text' name='input_myphone'>
                </td>
            </tr>
            <tr>
                <td>
                    주소
                </td>
                <td>
                    <input type="text" name="input_addr">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="로그인" class="btn btn-success">
        </form>
                    <!-- location.href = 주소값 : 해당하는 주소로 이동하는 하이퍼링크 -->
                    <!-- <button class="btn btn-primary" onclick="location.href='/user/add_user'">회원가입</button> -->
                </td>
            </tr>
    </table>
</body>
</html>