<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="get">
        <label>wallet</label>
        <input type="text" name="_wallet"><br>
        <label>name</label>
        <input type="text" name="_name"><br>
        <label>age</label>
        <input type="number" name="_age"><br>
        <label>birth</label>
        <input type="text" name="_birth"><br>
        <input type="submit">
    </form>
</body>
</html>