<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login2" method="post">
        <label>wallet</label>
        <input type="text" name="_wallet"><br>
        <input type="submit">
    </form>
</body>
</html>