<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/eth/add_content" method="post">
        <label>No</label>
        <input type="number" name="input_no"><br>
        <label>title</label>
        <input type="text" name="input_title"><br>
        <label>content</label>
        <textarea name = 'input_content' width="500px">
        </textarea><br>
        <label>name</label>
        <input type="text" name="input_name">
        <label>image</label>
        <input type="text" name = 'input_image'>
        <input type="submit">
    </form>
</body>
</html>