<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>글 제목</th>
            <td><%=data[1]%></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td><%=data[3]%></td>
        </tr>
        <tr>
            <th>본문</th>
            <td><%=data[2]%></td>
        </tr>
        <tr>
            <th>이미지</th>
            <td><img src="/img/<%=data[4]%>" width="300px"></td>
        </tr>
    </table>
</body>
</html>