<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function del(){
            location.href = '/del'
        }
        function logout(){
            location.href= '/logout'
        }
        function info(){
            location.href = '/info'
        }
    </script>
</head>
<body>
    <h1>index page</h1>
    <!-- html에서 js를 사용하려면 %를 사용 -->
    <p>(<%=login_data['name']%>)님 환영합니다.</p>
    <button onclick="del()">회원탈퇴</button>
    <button onclick="logout()">로그 아웃</button>
    <button onclick="info()">내 정보</button>
</body>
</html>