<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup Page</h1>
    <!-- 유저가 입력하는 공간 -->
    <form action="/signup2" method="post">
        <label>Phone</label>
        <input type="text" name="_phone"><br>
        <label>Password</label>
        <input type="password" name="_pass"><br>
        <label>Name</label>
        <input type="text" name="_name"><br>
        <input type="submit" value="회원 가입">
    </form>
</body>
</html>