<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/user/drop2" method="post">
            <!-- 로그인을 한 아이디를 출력 -->
            <!-- readonly 옵션은 데이터를 읽는건 가능하지만 수정은 불가능 -->
            <input type='text' name='input_id' value='<%=_id%>' readonly><br>
            <!-- 패스워드를 입력하는 창 출력 -->
            <input type="password" name="input_pass"><br>
            <!-- 패스워드 작성이 완료되었을때 지정된 주소로 데이터 값을 보내준다. -->
            <input type="submit" value="회원 탈퇴">
        </form>
    </div>
</body>
</html>