<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>유저 정보</h1>
    <ul>
        <li>
            이름 : (<%=user.name%>)
        </li>
        <li>
            가입시기 : (<%=user.signup_time%>)
        </li>
        <li>
            지갑 주소 : (<%=user.wallet%>)
        </li>
        <li>
            토큰 양 : (<%=amount%>)
        </li>
    </ul>
</body>
</html>