<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Main Page입니다.</h1>
    <p>
        로그인한 계정의 주인의 이름은 (<%=name%>)
    </p>
    <p>
        로그인한 계정의 주인의 휴대폰 번호는 (<%=phone%>)
    </p>
</body>
</html>